@model PublicSite.Models.Apartment
<div class="apartment-container">
    <div class="apartment-stars">
        <div>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
        </div>
    </div>
    <div class="apartment-information">
        <img src="https://upload.wikimedia.org/wikipedia/commons/9/9a/Gull_portrait_ca_usa.jpg" width="250" height="250" />
        <section>
            <h3>@Model.Name</h3>
            <ul>
                <li>Location</li>
                <li>Test</li>
                <li>Test</li>
                <li>Test</li>
                <li>Test</li>
            </ul>
            <p>Price 123</p>
        </section>
    </div>
    <div class="apartment-reservation">
        <button>
            Reservation
        </button>
    </div>
</div>
