@using Microsoft.AspNet.Identity
@if (Session["user"] != null)
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink((((DataAccessLayer.Model.AspNetUser)Session["user"]).UserName).ToString(), null)
        </li>
        <li>            
            @Html.ActionLink(PublicSite.Resource.NavbarLogOff, "LogOff", "Account");
        </li>
    </ul>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink(PublicSite.Resource.NavbarRegister, "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink(PublicSite.Resource.NavbarLogin, "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
