
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="display: flex; justify-content: center; width: 100%; padding: 1.5em; gap: 1.2em" >
    @Html.ActionLink("English", "SetNewLanguage", "Language", new { selectedLanguage = "en" }, new { @class = "fcc-btn" })
    @Html.ActionLink("Hrvatski", "SetNewLanguage", "Language", new { selectedLanguage = "hr-HR" }, new { @class = "fcc-btn" })
</div>


