@model PublicSite.ViewModels.ApartmentViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>RWA Apartmens</h1>
</div>

<div class="apartments-list">
    @foreach (var singleApartment in Model.Apartments)
    {
        @Html.Partial("_ApartmentContainer", singleApartment)
    }
</div>