
.sort-filter-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: aqua;
    align-items: flex-start;
}

.sort-filter-container > .single-item{
    display: flex;
    justify-content: center;
    gap: 1.2em;
}

.sort-filter-container > .single-item-special{
    display: flex;
    justify-content: space-around
}

.apartments-list{
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    padding: 1.2em;
}

.apartment-container{
    background-color: aqua;
    display: flex;
    flex-direction: column;
    padding: 1.5em;
}

.apartment-stars{
    display: flex;
    justify-content: end;
}

.apartment-stars > div > .checked{
    color: orange;
}

.apartment-information{
    display: flex;
    justify-content: space-between;
}

.apartment-reservation{
    display: flex;
    justify-content: right
}
.apartment-reservation > .button {
    display: block;
    width: 115px;
    height: 25px;
    background: #4E9CAF;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    line-height: 25px;
}

